/* defaults */
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/* default typography */
body {
    font-size: 16px;
    font-family: sans-serif;
}

h1 {
    font-size: 36px;
    padding: 2rem;
    margin: 0;
    text-align: center;
    background: blueviolet;
    color: #fff;
}

.test1 {
    background:#f3f3f3;
    padding: 1rem;
    margin: 0;
    height: 100vh;
    position: relative;
}

.test1 h2 {
    padding: 0;
    margin: 0;
}

.circle {
    width: 50vh;
    height: 50vh;
    display: block;
    border-radius: 100%;
    background-color:rgba(0, 0, 0, .1);
    left: 50%;
    top: 50%;
    transform: translate(-50% -50%);
    position: absolute;
    height:
}