html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: #223892;
}

#scene {
    width: 100vw;
    height: 100vh;
}

/* svg */
.cls-1 {
    fill: #1e3377;
}

.cls-2 {
    fill: none;
}

.cls-3 {
    clip-path: url(#clip-path);
}

.cls-28,
.cls-4 {
    opacity: 0.2;
}

.cls-28,
.cls-46,
.cls-5,
.cls-6 {
    fill: #fff;
}

.cls-6 {
    opacity: 0.3;
}

.cls-7 {
    clip-path: url(#clip-path-2);
}

.cls-8 {
    fill: #f46311;
}

.cls-9 {
    fill: #303030;
}

.cls-10 {
    fill: #d67d7b;
}

.cls-11 {
    fill: #d77d79;
}

.cls-12 {
    fill: #e2857e;
}

.cls-13 {
    fill: #151c28;
}

.cls-14 {
    fill: #8dc63f;
}

.cls-15 {
    fill: #8e6355;
}

.cls-16 {
    fill: #9b6d5c;
}

.cls-17 {
    fill: #1d1d1b;
}

.cls-18 {
    fill: #edd600;
}

.cls-19 {
    fill: #efc4ac;
}

.cls-20 {
    fill: #78c2c5;
}

.cls-21 {
    fill: #f2524e;
}

.cls-22 {
    fill: #ba8570;
}

.cls-23 {
    fill: #373737;
}

.cls-24 {
    fill: #8b4936;
}

.cls-25 {
    fill: #eabda7;
}

.cls-26 {
    fill: #f4c7ae;
}

.cls-27 {
    fill: #fccfb2;
}

.cls-29 {
    fill: #ba7300;
}

.cls-30 {
    fill: #fbaf17;
}

.cls-31,
.cls-39,
.cls-40,
.cls-46 {
    font-size: 37px;
}

.cls-31,
.cls-45,
.cls-72 {
    fill: #1f2834;
}

.cls-31,
.cls-39,
.cls-40,
.cls-43,
.cls-46 {
    font-family: Oswald-Medium, Oswald;
    font-weight: 500;
}

.cls-32 {
    letter-spacing: 0em;
}

.cls-33 {
    letter-spacing: 0em;
}

.cls-34 {
    letter-spacing: -0.03em;
}

.cls-35 {
    letter-spacing: -0.04em;
}

.cls-36 {
    fill: #f0f0f2;
}

.cls-37 {
    fill: #6d6e71;
}

.cls-38 {
    fill: #ed1c24;
}

.cls-39,
.cls-40 {
    fill: #5c5d68;
}

.cls-39 {
    letter-spacing: -0.01em;
}

.cls-41 {
    letter-spacing: -0.04em;
}

.cls-42 {
    letter-spacing: 0em;
}

.cls-43 {
    font-size: 138.04px;
    fill: #117882;
}

.cls-44 {
    font-size: 111px;
}

.cls-47 {
    letter-spacing: 0em;
}

.cls-48 {
    letter-spacing: 0em;
}

.cls-49 {
    letter-spacing: -0.01em;
}

.cls-50 {
    letter-spacing: 0em;
}

.cls-51 {
    fill: #845e52;
}

.cls-52 {
    fill: #5f7884;
}

.cls-53 {
    fill: #f49800;
}

.cls-54 {
    fill: #7a574d;
}

.cls-55 {
    fill: #e6e7e8;
}

.cls-56 {
    fill: #a7a9ac;
}

.cls-57 {
    fill: #f26522;
}

.cls-58 {
    fill: #6b200c;
}

.cls-59 {
    fill: #58595b;
}

.cls-60 {
    fill: #e2847e;
}

.cls-61 {
    fill: #1c75bc;
}

.cls-62 {
    fill: #bcbec0;
}

.cls-63 {
    fill: #293856;
}

.cls-64 {
    fill: #603913;
}

.cls-65 {
    fill: #b5816d;
}

.cls-66 {
    fill: #c48d74;
}

.cls-67 {
    fill: #1b227a;
}

.cls-68 {
    fill: #414042;
}

.cls-69 {
    fill: #2a3756;
    opacity: 0.1;
}

.cls-70 {
    fill: #2f3d5b;
}

.cls-71 {
    fill: #d1d3d4;
}

.cls-72 {
    stroke: #fbaf17;
    stroke-miterlimit: 10;
    stroke-width: 7px;
}